.page-header
  = link_to products_path, class: 'btn btn-default f-right MarTop25' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to @product, class: 'btn btn-primary f-right MarTop25' do
    %span.glyphicon.glyphicon-info-sign
    Show
  %h1.f-left Editing product
  .clear

= render 'form'
